header{
    text-align: center;
    background: #d3d3d3  center;
    height: 115px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0 auto 18px;
    overflow: hidden;
    border-bottom: 2px solid #eee;
}