<div class="container">
  <div class="row">
    <div class="col-12"
         style="margin-top: 20px;"
    >
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="float-left meta">
            <div class="title h5">
              <b>{{corner?.title}}</b>
            </div>

            <div class="title h5">
              <a [href]="corner?.url"
                 target="_blank"
              >{{corner?.url}}</a>
            </div>
          </div>
        </div>
        <div class="post-description">
          <p>{{corner?.description}}</p>
          <div class="stats">
            <a href="javascript:void(0)"
               class="btn btn-default stat-item"
            >
              <i class="fa fa-thumbs-o-up icon"></i>{{corner?.likes}}
            </a>
            <a href="javascript:void(0)"
               class="btn btn-default stat-item"
            >
              <i class="fa fa-thumbs-o-down icon"></i>{{corner?.dislikes}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-nlp-comment [comments]="comments"></app-nlp-comment>
