<div class="container">
  <div class="row">
    <div class="col-12"
         style="margin-top: 20px;"
    >
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="float-left meta">
            <div class="title h5">
              <b>{{corner?.title}}</b>
            </div>

            <div class="title h5">
              <a [href]="corner?.url"
                 target="_blank"
              >{{corner?.url | summerize}}</a>
            </div>
          </div>
        </div>
        <div class="post-description">
          <p>{{corner?.description}}</p>
          <div class="stats">
            <a href="javascript:void(0)"
               class="btn btn-default stat-item"
               (click)="like(corner?._id)"
            >
              <i class="fa fa-thumbs-o-up icon"></i>{{likes}}
            </a>
            <a href="javascript:void(0)"
               (click)="dislike(corner?._id)"
               class="btn btn-default stat-item"
            >
              <i class="fa fa-thumbs-o-down icon"></i>{{dislikes}}
            </a>
            <a href="javascript:void(0)"
               class="card-link"
            ><i class="fa fa-comment"
                aria-hidden="true"
            ></i> Comments</a> ({{comments?.length}})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-nlp-comment [comments]="comments"></app-nlp-comment>
